<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdit=${discount.id != null}">
<head th:insert="fragments/resources :: headResources(${isEdit ? 'Edit Discount' : 'Create Discount' })"></head>
<body class="bg-dark">
<nav th:replace="fragments/navbar :: topNavbar('discounts')"></nav>
<div class="container text-light mt-3">
    <h1 th:text="${isEdit ? 'Edit Discount' : 'Create Discount'}"></h1>
    <hr>
    <form
            th:with="actionUrl=${isEdit ? '/discounts/edit/'+discount.id : '/discounts/create' }"
            id="discount-form"
            method="POST"
            th:action="@{${actionUrl}}"
            th:object="${discount}"
            class="row gy-2"
    >
        <input type="hidden" th:field="*{pizza}">
        <div class="col-12"
             th:insert="fragments/components :: formField('text', 'Title', 'title')">
        </div>
        <div class="col-6"
             th:insert="fragments/components :: formField('date', 'Start Date', 'startDate')">
        </div>
        <div class="col-6"
             th:insert="fragments/components :: formField('date', 'Finish Date', 'finishDate')">
        </div>
        <div class="col-12">
            <button class="btn btn-secondary" type="submit">Save</button>
            <!--<a th:href="@{/pizzas/show/{pizzaId}(pizzaId=*{pizza.id})}" class="btn btn-secondary">Cancel</a>-->
        </div>
    </form>

</div>

</body>
</html>